<h1>          SIGN UP      </h1>
<p>
<label for="username">UserName:</label><br>
<input type="number" id="username" name="username" [(ngModel)]="username" placeholder="enter username">
</p>
<p>
<label for="password">Password:</label><br>
<input type="password" id="password" name="password" [(ngModel)]="password" placeholder="enter password">
</p>
<p>
<label for="email">Email:</label><br>
<input type="email" id="email" name="email" [(ngModel)]="email" placeholder="enter email id">
</p>
<button (click)="signup()">SignUp</button><br>
